#question_statement{
    resize: none;
}

#quote_statement{
    resize: none;
}

.question_q{
    font-family: cursive;
}

#introduction{

}

#welcome_image{
    background: url(/images/FirstToFace.png);
    background-size: contain;
    background-position: center right;
    min-height: 400px;
    background-repeat: no-repeat;
}

#intro{
    padding-top: 83px;
    min-height: 400px;
    text-align: center;
    vertical-align: middle;
    color: rgb(93, 207, 247);
}

#body{
    margin-top: 58px;
}

.green{
    color: rgb(34, 133, 0);
}

.quote-color a{
    color: #3c763d !important;
}
h4.Quote a{
    color: #3c763d !important;
}

#search{
    margin-top: 8px;
    font-weight: bolder;
}
#header{
    border-bottom: 1px solid lightgray;
    background-color: #ffffff;
    opacity: 0.93;
}

#footer{
    border-top: 1px solid lightgray;
    margin-top: 10px;
}

.inline-block{
    display: inline-block !important;
}

#beta{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    position: absolute;
    /*margin-left: 100px;*/
    /*margin-top: -29px;*/
    font-family: cursive;
}

.font-for-image{
    font-size: 140px!important;
}

.color-green{
    color: rgb(34, 133, 0);
}

.color-orange{
    color: orange;
}

.color-blue{
    color: rgb(93, 207, 247);
}

.margin-top{
    margin-top: 10px;
}

.tmp-image-preview{
    height: 50px!important;
    width: 50px!important;
}

.small-margin{
    margin: 5px;
}

.absolute{
    position: absolute;
}

.cross-button-margin{
    margin-left: -8px;
    margin-top: -8px;
}

.font-25{
    font-size: 25px!important;
}

#user_image_top{
    height: 18px!important;
}

.overflow-hidden{
    overflow: hidden;
}

.size-full{
    width: 100%;
    height: 100%;
}