#cover{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid lightgray;
}

#profile_image_container{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

#edit_cover_image{
    min-height: 30px;
    min-width: 30px;
}

.pointer{
    cursor: pointer;
}