<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 class="text-center">Send a message</h3>
        <form name="newContactForm" novalidate ng-submit="ctrl.sendContactRequest()">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" id="name" class="form-control" ng-model="ctrl.newContact.name" placeholder="Your Name (optional)"/>
            </div>
            <div class="form-group">
                <label for="email">Your Email</label>
                <input type="text" id="email" required class="form-control" ng-model="ctrl.newContact.email" placeholder="*required"/>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" id="subject" required class="form-control" ng-model="ctrl.newContact.subject" placeholder="*required"/>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" required class="form-control" ng-model="ctrl.newContact.message" placeholder="*required"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>