<!doctype html>
<html lang="en" ng-app="firstToFace">
<head>
    <meta charset="UTF-8">
    <title ng-bind="title">FirstToFace</title>

    <base href="/"/>

    <link rel="stylesheet" href="/css/vendor/angular-notify.css"/>
    <link rel="stylesheet" href="/css/vendor/bootstrap.css"/>
    <link rel="stylesheet" href="/css/vendor/angular-loading.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/css/question.css"/>
    <link rel="stylesheet" href="/css/quote.css"/>

    <script type="text/javascript" src="/js/vendor/angular.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-route.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-bootstrap.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-notify.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-loading.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/index_controller.js"></script>
    <script type="text/javascript" src="/js/profile.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-file.js"></script>
    <script type="text/javascript" src="/js/routes.js"></script>
    <script type="text/javascript" src="/js/sign_up.js"></script>
    <script type="text/javascript" src="/js/sign_in.js"></script>
    <script type="text/javascript" src="/js/base_services.js"></script>
    <script type="text/javascript" src="/js/question_controller.js"></script>
    <script type="text/javascript" src="/js/quote_controller.js"></script>
    <script type="text/javascript" src="/js/contact_controller.js"></script>
    <script type="text/javascript" src="/js/step_2_controller.js"></script>
</head>
<body ng-controller="MainController as mainCtrl">
<div class="container-fluid" ng-cloak>
    <div class="row navbar-fixed-top" id="header">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/" class="navbar-brand">FirstToFace <small class="color-orange"><em>beta</em></small></a>
                </div>
                <div class="col-sm-4">
                    <div ng-show="mainCtrl.currentUser">
                        <label class="hidden" for="search"></label>
                        <input id="search" spellcheck="false" onclick="this.select()" placeholder="Find with username" autocomplete="off" typeahead-on-select="mainCtrl.usernameSelected($item)" type="search" ng-model="mainCtrl.selectedUsername" class="form-control" typeahead="username as searchResult.username for searchResult in mainCtrl.getSearchResults($viewValue)"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a ng-hide="mainCtrl.currentUser" class="navbar-text pull-right" href="/users/sign_in">Sign in</a>
                    <a ng-hide="mainCtrl.currentUser" class="navbar-text pull-right" href="/users/sign_up">Sign Up</a>
                    <span class="navbar-text pull-right" ng-show="mainCtrl.currentUser" class="dropdown" dropdown>
                        <a href="" class="dropdown-toggle" dropdown-toggle>
                            <img id="user_image_top" ng-src="{{mainCtrl.currentUser.profile_image}}" alt="{{mainCtrl.currentUser.username}}"/>
                            {{mainCtrl.currentUser.name}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/users/{{mainCtrl.currentUser.username}}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="mainCtrl.signOut()" href="" >Sign Out</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="body">
        <div class="col-sm-12">
            <div ng-view></div>
        </div>
    </div>
    <div class="row" id="footer">
        <ul class="list-inline">
            <li class="navbar-text"><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li class="navbar-text"><a href="/about">About</a></li>
            <li class="navbar-text"><a href="/contact">Contact</a></li>
            <li class="navbar-text"><a href="/t_and_c">Terms</a></li>
            <li class="navbar-text"><a href="/privacy">Privacy</a></li>
            <li class="navbar-text"><a href="/step_2">Request a feature</a></li>
        </ul>
    </div>
</div>
</body>
</html>