<div class="row" style="background-image: url({{ctrl.user.cover_image_url}})" id="cover">
    <div class="col-sm-12">
        <div class="pull-right" id="edit_cover_image">
            <a href="" ng-file-select accept=".jpg,.png" ng-file-change="ctrl.uploadCoverImage($files)">Edit</a>
        </div>
        <div id="profile_image">
            <div tooltip="Click to change profile image." tooltip-trigger="mouseenter" tooltip-placement="right" id="profile_image_container" ng-file-select ng-file-change="ctrl.uploadProfileImage($files)">
                <img id="profile" ng-src="{{ctrl.user.profile_image_url}}" alt="{{ctrl.user.username}}"/>
            </div>
        </div>
    </div>
</div>
<div class="row" id="basic_information">
    <div class="col-sm-4 text-center ">
        <h3>{{ctrl.user.first_name}} {{ctrl.user.last_name}}</h3>
    </div>
    <div class="col-sm-4 text-center text-success">
        <h3>{{'@'+ctrl.user.username}}</h3>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center">Followers - {{ctrl.user.number_of_followers}}</h4>
        <div class="row">
            <div class="margin-top col-sm-6" ng-repeat="follower in ctrl.user.followers">
                <a href="/users/{{follower.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{follower.profile_image}}" alt="{{follower.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{follower.name}}</div>
                        <div>@{{follower.username}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="text-center">Following - {{ctrl.user.number_of_uplines}}</h4>
        <div class="row">
            <div class="margin-top col-sm-6" ng-repeat="upline in ctrl.user.uplines">
                <a href="/users/{{upline.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{upline.profile_image}}" alt="{{upline.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{upline.name}}</div>
                        <div>@{{upline.username}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>