<div ng-show="ctrl.currentUser">
    <div class="row">
        <div class="col-sm-6">
            <tabset justified="true">
                <tab heading="Question">
                    <form name="newQuestionForm" novalidate ng-submit="newQuestionForm.$valid && ctrl.createNewQuestion()">
                        <div class="form-group">
                            <label for="question_statement">Question</label>
                            <textarea id="question_statement" ng-model="ctrl.newQuestion.statement" tooltip="Ask a question" tooltip-placement="right" tooltip-trigger="focus" required class="form-control" rows="4"></textarea>
                        </div>
                        <div>
                            <div class="inline-block small-margin" ng-repeat="image in ctrl.tmpQuestionImages track by $index">
                                <i ng-click="ctrl.removeFromTmpQuestionImagesDS($index)" class="fa fa-times-circle absolute pointer cross-button-margin"></i>
                                <img class="tmp-image-preview" ng-src="{{image}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" class="btn btn-success" value="Post Question" />
                                    <a ng-file-select="ctrl.updateTmpQuestionImagesDS($files)" accept=".jpg,.png,.jpeg" ng-multiple="true" href="">
                                        <i class="fa fa-image font-25 color-green"
                                                tooltip="Add an image with your question."
                                                tooltip-placement="right"
                                                tooltip-trigger="mouseenter"
                                                ></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" ng-repeat="question in ctrl.myQuestions">
                        <div class="col-sm-12">
                            <h4>
                                <i class="fa fa-question-circle color-orange"></i>
                                <a href="/questions/{{question.slug}}">{{question.statement}}</a>
                            </h4>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 margin-top" ng-repeat="question_image in question.question_images">
                                    <img ng-src="{{question_image.url}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Quote">
                    <form name="newQuoteForm" novalidate ng-submit="newQuoteForm.$valid && ctrl.createNewQuote()">
                        <div class="form-group">
                            <label for="quote_statement">Quote</label>
                            <textarea id="quote_statement" ng-model="ctrl.newQuote.statement" required class="form-control" rows="4" tooltip="Quote Something" tooltip-trigger="focus" tooltip-placement="right"></textarea>
                        </div>
                        <div>
                            <div class="inline-block small-margin" ng-repeat="image in ctrl.tmpQuoteImages track by $index">
                                <i ng-click="ctrl.removeFromTmpQuoteImagesDS($index)" class="fa fa-times-circle absolute pointer cross-button-margin"></i>
                                <img class="tmp-image-preview" ng-src="{{image}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Post Quote" />
                            <a ng-file-select="ctrl.updateTmpQuoteImagesDS($files)" accept=".jpg,.png,.jpeg" ng-multiple="true" href="">
                                <i class="fa fa-image font-25 color-green"
                                   tooltip="Add an image with your quote."
                                   tooltip-placement="right"
                                   tooltip-trigger="mouseenter"
                                        ></i>
                            </a>
                        </div>
                    </form>
                    <div class="row" ng-repeat="quote in ctrl.myQuotes">
                        <div class="col-sm-12">
                            <h4 class="quote-color">
                                <i class="fa fa-quote-left color-green"></i>
                                <a href="/quotes/{{quote.slug}}">{{quote.statement}}</a>
                                <i class="fa fa-quote-right color-green"></i>
                            </h4>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 margin-top" ng-repeat="quote_image in quote.quote_images">
                                    <img ng-src="{{quote_image.url}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="col-sm-6">
            <!--FEED-->
            <div class="row" ng-repeat="feed in ctrl.myFeed">
                <div class="col-sm-12">
                    <h4 ng-class="feed.type">
                        <i ng-show="feed.type=='Question'" class="fa fa-question-circle color-orange"></i>
                        <i ng-show="feed.type=='Quote'" class="fa fa-quote-left color-green"></i>
                        <a href="/{{feed.type.toLowerCase()}}s/{{feed.slug}}">{{feed.statement}}</a>
                        <i ng-show="feed.type=='Quote'" class="fa fa-quote-right color-green"></i>
                    </h4>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/users/{{feed.user.username}}" class="inline-block">
                                <div class="inline-block">
                                    <img ng-src="{{feed.user.profile_image}}" alt="{{feed.user.username}}"/>
                                </div>
                                <div class="inline-block">
                                    <div>{{feed.user.name}}</div>
                                    <div>@{{feed.user.username}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="ctrl.currentUser">
    <div class="row" id="introduction">
        <div class="col-sm-6" id="welcome_image"></div>
        <div class="col-sm-6" id="intro">
            <h1><span class="green">FirstToFace</span> is a place where you can find people who share your views</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row text-center">
                <div class="col-sm-12">
                    <i class="fa fa-bullhorn font-for-image color-orange"></i>
                </div>
                <div class="col-sm-12">
                    <h3>Ask your questions</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row text-center">
                <div class="col-sm-12">
                    <i class="fa fa-quote-left font-for-image color-green"></i>
                </div>
                <div class="col-sm-12">
                    <h3>Declare you quote</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row text-center">
                <div class="col-sm-12">
                    <i class="fa fa-user-plus font-for-image color-blue"></i>
                </div>
                <div class="col-sm-12">
                    <h3>Make new friends</h3>
                </div>
            </div>
        </div>
    </div>
</div>