<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    <i class="fa fa-question-circle color-orange"></i>
                    {{ctrl.question.statement}}
                </h4>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 margin-top" ng-repeat="question_image in ctrl.question.question_images">
                            <img ng-src="{{question_image.url}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="/users/{{ctrl.question.user.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{ctrl.question.user.profile_image}}" alt="{{ctrl.question.user.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{ctrl.question.user.name}}</div>
                        <div>@{{ctrl.question.user.username}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form name="newQuestionAnswerForm" novalidate ng-submit="ctrl.createNewQuestionAnswer()">
                    <div class="form-group">
                        <label for="question_answer_statement"></label>
                        <textarea class="form-control" ng-model="ctrl.newQuestionAnswer.statement" id="question_answer_statement" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Post Answer" class="btn btn-success"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-repeat="question_answer in ctrl.question.question_answers">
            <div class="col-sm-3">
                <a href="/users/{{question_answer.user.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{question_answer.user.profile_image}}" alt="{{question_answer.user.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{question_answer.user.name}}</div>
                        <div>@{{question_answer.user.username}}</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-9">
                <h5>{{question_answer.statement}}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>