<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    <i class="fa fa-quote-left color-green"></i>
                    {{ctrl.quote.statement}}
                    <i class="fa fa-quote-right color-green"></i>
                </h4>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 margin-top" ng-repeat="quote_image in ctrl.quote.quote_images">
                            <img ng-src="{{quote_image.url}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="/users/{{ctrl.quote.user.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{ctrl.quote.user.profile_image}}" alt="{{ctrl.quote.user.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{ctrl.quote.user.name}}</div>
                        <div>@{{ctrl.quote.user.username}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form name="newQuoteAnswerForm" novalidate ng-submit="ctrl.createNewQuoteAnswer()">
                    <div class="form-group">
                        <label for="quote_answer_statement"></label>
                        <textarea class="form-control" ng-model="ctrl.newQuoteAnswer.statement" id="quote_answer_statement" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Post Quote" class="btn btn-success"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-repeat="quote_answer in ctrl.quote.quote_answers">
            <div class="col-sm-3">
                <a href="/users/{{quote_answer.user.username}}" class="inline-block">
                    <div class="inline-block">
                        <img ng-src="{{quote_answer.user.profile_image}}" alt="{{quote_answer.user.username}}"/>
                    </div>
                    <div class="inline-block">
                        <div>{{quote_answer.user.name}}</div>
                        <div>@{{quote_answer.user.username}}</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-9">
                <h5>{{quote_answer.statement}}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>