<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 class="text-center">SignIn - FirstToFace</h3>
        <form name="signInForm" novalidate ng-submit="ctrl.signIn()">
            <div class="form-group">
                <label for="email">Email / Username</label>
                <input type="text" id="email" class="form-control" ng-model="ctrl.email_"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ng-model="ctrl.password_"/>
            </div>
            <!--<div class="form-group">-->
                <!--<input type="checkbox" id="secure_session"/>-->
                <!--<label for="secure_session" popover="Sign out as soon as tab is closed." popover-trigger="mouseenter" popover-placement="right"><span class="small">Secure session</span></label>-->
            <!--</div>-->
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>