<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 class="text-center">SignUp - FirstToFace</h3>
        <form name="signUpForm" novalidate ng-submit="ctrl.createNewUser()">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" required class="form-control" ng-model="ctrl.newUser.first_name"/>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" class="form-control" ng-model="ctrl.newUser.last_name"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" required class="form-control" ng-model="ctrl.newUser.email" tooltip="Enter your valid email address." tooltip-trigger="focus" tooltip-placement="right"/>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" required class="form-control" ng-model="ctrl.newUser.username" tooltip="Create a username. (letters, underscores, alphabets)" tooltip-trigger="focus" tooltip-placement="right"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" required class="form-control"ng-model="ctrl.newUser.password" tooltip="minimum 6 characters, maximum 20 characters" tooltip-trigger="focus" tooltip-placement="right" />
            </div>
            <div class="form-group">
                <input type="submit" value="SignUp" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>