<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
        <p><strong>Add a profile image</strong></p>
        <div class="inline-block pointer" ng-file-select="ctrl.uploadProfileImage($files)" accept=".jpg,.jpeg,.png" tooltip="Click to upload an image." tooltip-placement="right" tooltip-trigger="mouseenter">
            <img ng-src="{{ctrl.currentUser.profile_image.replace('thumb', 'standard')}}" alt="{{ctrl.currentUser.username}}"/>
        </div>
        <fieldset class="margin-top">
            <legend><small>Some more info about yourself.</small></legend>
            <form name="moreInfoForm" ng-submit="ctrl.saveMoreInfo()">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" ng-model="ctrl.moreInfo.gender" class="form-control"
                            ng-options="gender for gender in ['Male', 'Female', 'Other']"
                            >
                        <option value="">Select</option>
                            </select>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <div>
                        <label>
                            <select ng-model="ctrl.moreInfo.date"
                                    ng-options="date for date in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]"
                                    >
                                <option value="">Date</option>
                            </select> -
                            <select ng-model="ctrl.moreInfo.month"
                                    ng-options="month for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']"
                                    >
                                <option value="">Month</option>
                            </select> -
                            <select ng-model="ctrl.moreInfo.year"
                                    ng-options="year for year in ctrl.years"
                                    >
                                <option value="">Year</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                </div>
                <div>
                    <a href="" class="text-danger" ng-click="ctrl.skip()" ><small>skip</small></a>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="col-sm-4"></div>
</div>